<%- include('../header')%>
<div class="row">
  <div class="col-lg-6">
    <div class="teste" style="padding-top:40px;">
        <h2>Novas Categorias</h2>
        <form class="form" action="/categorias/nova" method="POST">
            <input class="form-control" placeholder="Insira sua categoria" type="text" name="categoria">
            <button style="margin-top:10px;" class="btn btn-primary">Salvar</button>
        </form>
     </div>
    </div>
</div>

 <%- include('../footer')%> 